/* Navigation */

.search-container {
  visibility: hidden;
}

/* Main */

.main {
  padding: 30px 60px 30px 120px;
  min-height: calc(100vh - 50.5px - 30px - 30px);
}

/* Content */

.content {
  width: 100%;
}

.hero-desc {
  width: 100%;
  max-width: 1024px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
}

/* Team */

.team-container {
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1004px;
}

.team-title {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 40px;
}

.team-content {
  min-width: 150px;
}

.staff-card {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 20px 30px 40px 15px;
  display: flex;
  gap: 15px;
  font-size: 12px;
}

.staff-icon {
  height: 20px;
  width: 20px;
  padding: 6px;
  border-radius: 6px;
  background-color: #172c68;
}

.staff-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.staff-title {
  color: #aab8bd;
  margin-top: 0;
  line-height: 1.4;
}

.staff-more {
  background-color: #2e4280;
  border: 1px solid #7e898c;
  font-size: 12px;
  font-weight: bold;
  color: aliceblue;
  width: 100%;
  padding: 6px 12px;
}
